<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Client <%= userId %> </title>

    <link href="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css" rel="stylesheet" />


</head>

<body data-userId="<%= userId %>">
    <h1>Hello Client <%= userId %></h1>
    <h4 id="notification"> </h4>
    <button onclick="requestARide()">
        Request for help
    </button>
    <!-- Some info will be displayed here-->

    <div id="map">
        <!-- We will load a map here later-->
    </div>


    <!--Load JavaScripts -->

    <!-- Load socket.io client library -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- Load JQuery from a CDN -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js"></script>

    <!-- load libraries before your JS code
Write rest of your JS code here -->
    <script type="text/javascript">
    
        var socket = io();
        //Fetch userId from the data-atribute of the body tag
        var userId = document.body.getAttribute("data-username");
        /*Fire a 'join' event and send your userId to the server, to join a room - room-name will be the userId itself!
         */
        socket.emit('join', {
            username: username
        });
        //Declare variables, this will be used later
        var requestDetails = {};
        var clientDetails = {};
        var map, marker;

        //Client's info
        requestDetails = {
            username: username,
            location: {
                address: "956, W Cherry St, #101, Louisville, Colorado 80027, USA",
                latitude: 39.9631,
                longitude: -105.162
            }
        }
        //When button is clicked, fire request-for-help and send client's userId and location
        function requestARide() {
            socket.emit("request-a-ride", requestDetails);
        }
        //Listen for a "ride-accepted" event
        socket.on("ride-accepted", function (eventData) {
            driverDetails = data; //Save driver details
            //Display driver details
            document.getElementById("notification").innerHTML =
                "Your Personal Pet Concierge Is On Their Way! \n" + JSON.stringify(driverDetails);

            //Show cop location on the map
            L.marker([
                driverDetails.location.latitude,
                driverDetails.location.longitude
            ], {
                icon: L.icon({
                    iconUrl: "./public/img/dogpin.jpg", //image path
                    iconSize: [60, 28] //in pixels
                })
            }).addTo(map);

            L.mapbox.accessToken =
                "sk.eyJ1IjoiYXV0dW1ua2VsbGV5ZmFiIiwiYSI6ImNqdW5nYWM5bjFnYzkzem1pN2U5ZDZvZ2oifQ.FG5vY610uWrGKrMBmy07bg";
            //Load the map and give it a default style
            map = L.mapbox.map("map", "mapbox.streets");
            //set it to a given lat-lng and zoom level
            map.setView([39.9631, -105.162], 9);
            //Display a default marker
            marker = L.marker([39.9631, -105.162]).addTo(map);
            //This will display an input box
            map.addControl(L.mapbox.geocoderControl("mapbox.places", {
                autocomplete: true, //will suggest for places as you type
            }).on("select", function (data) {
                //This function runs when a place is selected
                //data contains the geocoding results
                console.log(data);
                //Do something with the results
                //Extract address and coordinates from the results and save it
                requestDetails.location = {
                    address: data.feature["place_name"],
                    latitude: data.feature.center[1],
                    longitude: data.feature.center[0]
                };
                //Set the marker to new location
                marker.setLatLng([data.feature.center[1], data.feature.center[0]]);
            }));


        });
    </script>


</body>

</html>