
  <!DOCTYPE html>
  <html lang = "en">
  <head>
      <meta charset="utf-8"/>
      <title>Driver <%= userID %> </title>
      <link href="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css" rel="stylesheet" />
  </head>

  <body data-userId="<%= userId %>">
      <h1>Hello Driver <%= userId %></h1>
      <h2> Driver Details: </h2>
      <div id ="driverDetails"></div>
    
      <h4 id="notification"> Waiting For Requests...</h4>

      <button onclick="acceptRide()">
        Accept Ride
    </button>

    
   
      <div id="map"> 
          <!-- We will load a map here later-->
      </div>
     

      <!--Load JavaScripts -->
      <!-- Load socket.io client library -->
<script src="/socket.io/socket.io.js"></script>
<!-- Load JQuery from a CDN -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<!-- load libraries before your JS code
Write rest of JS code here -->

<script type="text/javascript">
    var socket = io();
    //Fetch username from the data-atribute of the body tag
    var userId = document.body.getAttribute("data-userId");
    /*Fire a 'join' event and send your username to the server, to join a room - room-name will be the username itself!
*/ 
    socket.emit('join', {userId: userId});
//Declare variables, this will be used later
    var requestDetails = {};
    var driverDetails = {};
    var map, marker;

//First send a GET request using JQuery AJAX and get the driver's details and save it
$.ajax({
    url: "/drivers/info?userId=" + userId,
    type: "GET",
    dataType: "json",
    success: function(data){ //Once response is successful
        driverDetails = data.driverDetails; //Save the driver details
        driverDetails.location = {
            address: driverDetails.location.address,
            longitude: driverDetails.location.coordinates[0],
            latitude: driverDetails.location.coordinates[1] 
        }
        
        document.getElementById("driverDetails").innerHTML = JSON.stringify(data.driverDetails);
    },
    error: function(httpRequest, status, error){
        console.log(error);
    }
});
//Listen for a "request-a-ride" event
socket.on("request-a-ride", function(eventData){
    //Once request is received, do this:
    //Save request details
    requestDetails = eventData; //Contains info of client
    //display the data received from the event
    document.getElementById("notification").innerHTML = "Someone needs a ride! \n" + JSON.stringify(requestDetails);
});

function acceptRide(){
    //Fire a "request-accepted" event/signal and send relevant info back to server
    socket.emit("ride-accepted", {
        requestDetails: requestDetails,
        driverDetails: driverDetails
    });
 }

</script>
  </body>
  </html>