<!DOCTYPE HTML>
<html>

<head>
	<meta charset="UTF-8">
	<title>Dog Uber-homepage</title>

	<!--Stylesheet-->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Acme|Julius+Sans+One|Montserrat+Alternates:bold+Sans-serif" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

<!-- 	
	<link href="https://fonts.googleapis.com/css?family=Acme|Julius+Sans+One|Montserrat+Alternates:bold+Sans-serif" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css"> -->
</head>

<body>

	<!--Wrapper-->
	<div id="wrapper">
		<!--Header-->
		<header id="header">
			<!--Main header-->
			<div class="mainHeader">
				<!--Container-->
				<div class="container clearfix">
					<div class="one-third column">
						<!--Logo-->
						<div class="logo">
							<a href="/">
								<h1>DOG UBER</h1>
							</a>
						</div>
						<!--End logo-->
					</div>
					<div class="two-thirds column">
						<!--Navigation-->
						<nav id="mainNav">
							<a href="#" class="mobileBtn"><i class="icon-menu"></i></a>
							<ul>
								<li><a href="client">Rider</a></li>
								<li><a href="driver">Driver</a></li>
								<li><a href="signup">Sign Up</a></li>
							<button type="button" id="login" class="login" value="Login" data-toggle="modal" data-target="#exampleModal">Login</button>
								<!-- <li><button type="button" <a href="login">Login</a></li> -->
							</ul>
						</nav>
						<!--End navigation-->
					</div>
					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
					aria-hidden="true" style="background-image: url(/assets/images/signin.png)">
					<div class="modal-dialog" role="document"> 
					   <div class="modal-content"> 
						 <div class="modal-header">
						   <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
						 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button> 
						</div>
						<div class="modal-body">
							<div class="modal-background"</div>
						<div class="modal-card">
						  <header class="modal-card-head">
							<p class="modal-card-title">Login</p>
							<p class="comment-form-username"><input id="username" name="username" placeholder="Username" type="text"
								value="" size="30"></p>
							<p class="comment-form-phone"><input id="phone" name="phone" placeholder="Phone" type="text" value=""
								size="30"></p>
							<p class="comment-form-email"><input id="email" name="email" placeholder="Email" type="text" value=""
								size="30"></p>
							<p class="comment-form-petName"><input id="petName" name="petName" placeholder="Pet's Name" type="text"
								value="" size="30"></p>
							<p class="comment-form-password"><input id="password" name="password" placeholder="password" type="text"
								value="" size="30"></p>
								<p class="comment-form-location"><input id="Location" name="Location" placeholder="Location(Address)" type="text"
									value="" size="30"></p>
							<!-- <button class="delete" aria-label="close"></button>
						  </header>
							  <section class="modal-card-body">
								<!-- Content ... -->
								<!-- <form action="/profile" method="POST">
								  <div class="field">
									<label class="label">Username</label>
									<div class="control has-icons-left has-icons-right">
									  <input class="input" type="text" name="username" placeholder="Enter Username">
									  <span class="icon is-small is-left">
										<i class="fas fa-user"></i>
									  </span>
									  <span class="icon is-small is-right">
										<i class="fas fa-check"></i>
									  </span>
									</div>
								  </div>
						  
								  <div class="field">
									<label class="label">Password</label>
									<div class="control has-icons-left has-icons-right">
									  <input class="input" type="password" name="password" placeholder="Enter Password">
									  <span class="icon is-small is-left">
										<i class="fas fa-lock"></i>
									  </span>
									  <span class="icon is-small is-right">
										<i class="fas fa-check"></i>
									  </span>
									</div>
								  </div> -->
						  
								  <div class="field">
									<div class="control">
									  <button class="button is-link" id="login">Login</button>
									</div>
								  </div>
								</form>
							  </section>
							  <footer class="modal-card-foot">
								<div class="container inline-block">
								  <button class="button is-success is-small is-pulled-right signup-button">Sign Up </button>
								  <p class="is-pulled-right">Don't have an account?</p>
						  </div>
						</div>
					</div>
					</div>
					</div>
							
							  </footer>
							</div>
						  </div>
						  

					<!--End container-->
				</div>
				<!--End main header-->
				<!--Top socials-->
				<!-- <div class="topSocials">
					<ul class="one columns">
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-gplus"></i></a></li>
					</ul>
					<ul class="one columns">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-pinterest"></i></a></li>
					</ul>
				</div> -->
				<!--End top socials-->
			</div>
		</header>
		<!--End header-->
		<!-- The video -->
		<video autoplay muted loop id="myVideo">
			<source src="assets/images/calidrivingvid.mp4" type="video/mp4">
		</video>

		<!-- Optional: some overlay text to describe the video -->
		<!-- <div class="content">
			<h1>Watch Our Story</h1> -->
			<!-- Use a button to pause/play the video with JavaScript -->
			<!-- <button id="myBtn" onclick="myFunction()">Pause</button> -->
		<!-- </div> -->

		<section id="projectDesc" class="offset section bBottom">

			<!-- 			
				<Container-->
			<div class="container clearfix">


				<div class="sixteen columns bottom3">
					<h1 class="titleBig">Dog Uber </h1>

					<p class="bottom5"> <span class="black">Everywhere Your Dog Wants To Be</span> "DOG UBER" is your
						personal pet concierge. Allowing travel for you and your pup.
						We work with drivers to help transport you and your pets to anywhere you want to go! A step
						above your classic "Uber."
						Can't make the ride? Lucky you, we also provide a platform for owners to book ahead of time, as
						well as track their pets.
						Popular destinations include: Your local brewery, Veternarian Appointments, Grooming, and
						convient trips around town. </p>

					<a class="regButton" href="client"><i class="icon-eye"></i>Ride</a>
					<a class="regButton" href="driver"><i class="icon-eye"></i>Drive</a>
				</div>

			</div>
			<!--End container-->
		</section>

		<section id="spacer" class=" offset section bBottom" >

			<div class="container clearfix"position="center">
				<div class="sixteen columns bottom3">
				</div>
			</div>
		</section>

		<!--Footer-->
		<footer class="footer offset">

			<!--Top footer-->
			<div class="topFooter">
				<!--Container-->
				<div class="container clearfix">

					<div class="four columns">
						<h2>Adresse</h2>
						<p>The Dog Uber Inc.<br>
							124 Conch Street, Bikini Bottom<br>
							IN 143 ILY.</p>
					</div>

					<div class="four columns">
						<h2>Social</h2>
						<ul>
							<li><a href="#">FaceBook</a></li>
							<li><a href="#">Twitter</a></li>
							<li><a href="">Google Plus</a></li>
							<li><a href="#">Pinterest</a></li>
							<li><a href="#">LinkedIn</a></li>
						</ul>
					</div>

					<div class="four columns">
						<h2>Call Us</h2>
						<ul>
							<li>+ 123-456-789-890</li>
						</ul>
					</div>

					<div class="four columns">
						<h2>Get In Touch</h2>

						<ul>
							<li><a href="#">press@doguber.com</a></li>
							<li><a href="#">support@doguber.com</a></li>

						</ul>

					</div>

				</div>
				<!--End container-->
			</div>
			<!--End top footer-->

			<!--Bottom footer-->
			<div class="bottomFooter">
				<!--Container-->
				<div class="container clearfix">

	<div class="eight columns">
		<p>© 2019_Final Project_Autumn Kelley Barr</p> </div>
			
					<div class="eight columns"position="center" > 
						<a href="#">Home</a>
						<a href="https://github.com/autumnkelleyfabulous">GitHub</a>
						<a href="https://autumnkelleyfabulous.github.io/portfolio3update/">Portfolio</a>
						<a href="https://www.linkedin.com/in/autumn-barr-0a0babb9/">Linkedin</a>
					</div>

					<div class="eight columns red">
							<div class="right">
									Made with <span style="color: #e25555;">&#9829;</span> in Colorado
								</div>
						<!-- <div class="right">
							<p>Made With <i class="icon-heart"></i> In Colorado.</p>
						</div> -->

					</div>

				</div>
				<!--End container-->
			</div>
	</div>
	</footer>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.clo>udflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript">

$('#login').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
// $('#login-modal').on('shown.bs.modal', function () {
//   $('#login-modal').trigger('focus')
// })
	// $(".login").on("click", function() {
	// 	$("#login-modal").addClass("is-active");
	// 	$("#signup-modal").removeClass("is-active");
	//   });
// 	  $("#login").on("click", function() {
// //   $("#signup-modal").modal("hide");
//   $("#login-modal").modal("toggle");
// })
</script>

</body>
</html> 