<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8">
  <title>Dog Uber-homepage</title>

  <!--Stylesheet-->
  <!-- <link href="assets/css/base.css" rel="stylesheet">
	<link href="assets/css/skeleton.css" rel="stylesheet">
	<link href="assets/css/main.css" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Artifika" rel="stylesheet">

</head>

<body>

  <!--Wrapper-->
  <div id="wrapper">
    <!--Header-->
    <header id="header">
      <!--Main header-->
      <div class="mainHeader">
        <!--Container-->
        <div class="container clearfix">
          <div class="one-third column">
            <!--Logo-->
            <div class="logo">
              <a href="/">
                <h1>DOG UBER</h1>
              </a>
            </div>
            <!--End logo-->
          </div>
          <div class="two-thirds column">
            <!--Navigation-->
            <nav id="mainNav">
              <a href="#" class="mobileBtn"><i class="icon-menu"></i></a>
              <ul>
                <li><a href="client">Rider</a></li>
                <li><a href="driver">Driver</a></li>
                <li><a href="#">Sign Up</a></li>
              </ul>
            </nav>
            <!--End navigation-->
          </div>
          <!--End container-->
        </div>
        <!--End main header-->
        <!--Top socials-->
        <!-- <div class="topSocials">
					<ul class="one columns">
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-gplus"></i></a></li>
					</ul>
					<ul class="one columns">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-pinterest"></i></a></li>
					</ul>
				</div> -->
        <!--End top socials-->
      </div>
    </header>
    <section class="sub-head3" position="center">
        <div class="wrapper">
            <ul class="plain">
        
                 <li><h1 class="titleBig3">SIGN UP</h1></li>
            
            </ul>
            
</div>
</section>


    <section id="projectDesc" class="offset section bBottom">

      <div class="container clearfix">

        <div class="sixteen columns bottom3"> 

          <div id="respond" class="comment-respond">
            <h3 id="reply-title" class="comment-reply-title" img src="./public/images/signin.png"> 
                    <p class="comment-notes"><span id="email-notes">Sign Up/Login <span class="required">*</span></p>
                    <p><textarea id="Username" placeholder="Username" name="Username" cols="20" rows="2"
                        aria-required="true"></textarea></p>
                    <div class="clear"></div>
                    <p class="comment-form-dogName"><input id="dogName" name="dogName" placeholder="Pet's Name"
                        type="text" value="" size="30"></p>
                    <p class="comment-form-email"><input id="email" name="email" placeholder="Email" type="text"
                        value="" size="30"></p>
                    <p class="comment-form-password"><input id="password" name="password" placeholder="password"
                        type="text" value="" size="30"></p>
                    <p class=comment-form-photo"><input id="photo" name="photo" placeholder="Photo Image(Required)"
                        type="image" class="validate" </p> <p class="form-submit"><input name="submit" type="submit"
                        id="submit" class="submit" value="Submit"> <input type="hidden" name="Submit" value="7483"
                        id="Submit">
                      <input type="hidden" name="comment" id="comment" value="0">
                    </p>
                  </form>
          </div>
        </div>
      </div>
      </section>
          <footer class="footer offset">

            <!-- Top footer -->
            <div class="topFooter">
              <!--Container-->
              <div class="container clearfix">

                <div class="four columns">
                  <h2>Adresse</h2>
                  <p>Dog Uber Inc.<br>
                    124 Conch Street, Bikini Bottom<br>
                    IN 143 ILY.</p>
                </div>

                <div class="four columns">
                  <h2>Social</h2>
                  <ul>
                    <li><a href="#">FaceBook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="">Google Plus</a></li>
                    <li><a href="#">Pinterest</a></li>
                    <li><a href="#">LinkedIn</a></li>
                  </ul>
                </div>

                <div class="four columns">
                  <h2>Call Us</h2>
                  <ul>
                    <li>+ 123-456-789-890</li>

                  </ul>
                </div>

                <div class="four columns">
                  <h2>Our Email</h2>

                  <ul>
                    <li><a href="#">press@doguber.com</a></li>
                    <li><a href="#">support@doguber.com</a></li>

                  </ul>

                </div>

              </div>
              <!--End container-->
            </div>
            <!--End top footer-->

            <!--Bottom footer-->
            <div class="bottomFooter">
              <!--Container-->
              <div class="container clearfix">

                <div class="eight columns">
                  <p>© 2019_Final Project_Autumn Kelley Barr</p>
                </div>

                <div class="eight columns">
                  <a href="#">Home</a>
                  <a href="https://github.com/autumnkelleyfabulous">GitHub</a>
                  <a href="https://autumnkelleyfabulous.github.io/portfolio3update/">Portfolio</a>
                  <a href="https://www.linkedin.com/in/autumn-barr-0a0babb9/">Linkedin</a>
                </div>

                <div class="eight columns red">
                  <div class="right">
                    <p>Made With <i class="icon-heart"></i> In Colorado.</p>
                  </div>

                </div>

              </div>
              <!--End container-->
            </div>
        </div>
        </footer>
      </div>
    </body>
    </html>